.homepage{
    background: white;
    padding-top: 100px;
}
.updates{
    max-width: 1100px;
    margin: 0 auto;
}
.cards{
    margin-top: 16px;
    display: flex;
    justify-content: space-around;
}
.update-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 32px;
    margin-left: 31px;

    color: #333;
}
.card{
    width: 300px;
    background: #f1f1f1;
    margin-right: 8px;
    margin-bottom: 4px;
    height: 200px;
    border-radius: 4px;
}
.data{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.link{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}
.data-text{
    font-weight: 400;
    color: #444;
    font-size: 23px;
}
.data-num{
    font-size: 48px;
}
a{
    text-decoration: none;
    color: #333;

}
.btn{
    outline: none;
    padding: 12px 14px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 6px;
    transition: 0.3s all;
}
.btn:hover{
    opacity: 0.8;
    transform: scale(0.9);
}
.btn-black{
    background: #333;
    color: #fff;
}
.red{
    color: red;
}
.green{
    color: green;
}