.section-footer{
    margin-top: 5rem;
    width: 100%;
    background-color: rgba(247, 244, 244, 0.815);
    color: green;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
}
.footer{

    &-signup{
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            color: transparent;
            font-size: 3rem;
            font-weight: 300;
            margin-right: 1rem;
            letter-spacing: 0;
            background: linear-gradient(to left,rgba(46, 104, 46, 0.63), green 50%);
            background-clip: text;
            @media only screen and (max-width: 850px) {
                font-size: 2rem;
            }
            @media only screen and (max-width: 600px) {
                font-size: 1.5rem;
            }
            @media only screen and (max-width: 500px) {
                font-size: 1.1rem;
            }
        }
    }

    &-info{
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        color: black;

        &__left{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1rem;
            h4{
                margin-bottom: 1rem;
            }
            p{
                color: green;
            }
            &-link{
                color: green;
                text-decoration: underline;
            }
        }
        &__right{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1rem;

            h4{
                margin-bottom: 1rem;
            }
            p{
                color: green;
            }
            &-link{
                color: green;
                text-decoration: underline;
            }
        }
    }

    &-copyright{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p:not(:first-child){
            margin-bottom: 1rem;
        }
        p{
            @media only screen and(max-width:750px){
                font-size: 1rem;
            }
            @media only screen and(max-width:700px){
                font-size: 0.8rem;
            }
            @media only screen and(max-width:550px){
                margin-bottom: 1rem;
                text-align: center;
            }
        }
        h4:not(:first-of-type){
            margin-bottom: 2rem;
        }
        h4{
            color: black;
            font-weight: 300;
        }
    }
}
